// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Path to Bulma's sass folder
@use "bulma/sass" with ($family-primary: '"Open-Sans", system-ui',
    $primary: $purple, //! This will change later on
    $link: $purple);
    $dimensions: 16 24 32 48 64 96 128 256 512;

@font-face {
    font-family: 'Open-Sans';
    /* Give your font a name */
    src: url('/fonts/Open-Sans-Regular.ttf');
    /* Path to your TTF file */
}

textarea.textarea {
    resize: none;
    field-sizing: content;
}